---
---
// Change this Google Fonts import as necessary
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

nav {
  background-color: black;
}

nav a.nav-link {
  color: white;
}

nav a.nav-link:active {
  text-decoration: underline;
}

body {
  padding-top: 3rem;
  background-color: black;
  font-family: Montserrat; // play around with this
}

.social {
  font-size: 200%;
  word-spacing: 0.35em;
}

.social a:link, .social a:visited {
  color: rgba(255, 255, 255, 0.6);
}

.social a:active, .social a:hover {
  color: white;
}

.download-resume {
  font-size: 125%;
}

footer {
/*  position: absolute;
  bottom: 0; */
  width: 100%;
  margin-top: 60px;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: black;
  color: white;
}

// Gradient mixin that supports all browsers
@mixin gradient($color1, $color2) {
  background: $color1;                                   // For browsers that do not support gradients
  background: -webkit-linear-gradient($color1, $color2); // For Safari 5.1 to 6.0
  background: -o-linear-gradient($color1, $color2);      // For Opera 11.1 to 12.0
  background: -moz-linear-gradient($color1, $color2);    // For Firefox 3.6 to 15
  background: linear-gradient($color1, $color2);         // Standard syntax
}

// For sections with the gradient background
.gradient-bg {
  @include gradient(#2758A5, #CC004E);
  color: white;
}

.black-bg {
  background-color: black;
  color: white;
}

section {
  padding: 50px;
}

.profile-photo {
  // TODO figure out RubyGems Bootstrap so we can import:
  // .img-thumbnail .rounded-circle .mx-auto .d-block
  width: 400px;
  margin: 30px;
}
