---
---
@import 'bg';
@import 'fonts';
@import 'rouge';
@import 'layout';

code, pre {
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
}

.social {
  font-size: 200%;
  word-spacing: 0.35em;
}

.social a {
  color: black;
}

.social a:link, .social a:visited {
  opacity: 0.6;
}

.social a:active, .social a:hover {
  opacity: 1;
}

.download-resume {
  font-size: 125%;
  background-color: $sidebar-bg-color;
}

.profile-photo {
  // TODO figure out RubyGems Bootstrap so we can import:
  // .img-thumbnail .rounded-circle .mx-auto .d-block
  width: 400px;
  margin: 30px;
}

.email {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 300;
}
