---
---
@import 'bg';
@import 'fonts';

$chrome-color: #444444;
$sidebar-width: 480px;

#site-sidebar {
  height: 100%;
  width: $sidebar-width; // TODO make this responsive
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $chrome-color;
  overflow-x: hidden; // Disable horizontal scroll
  padding-top: 20px;
}

main {
  margin-left: $sidebar-width;
  padding: 20px;
  padding-right: 500px;
}

nav {
  background-color: $chrome-color;
}

nav a.nav-link {
  color: white;
}

nav a.nav-link:active {
  text-decoration: underline;
}

body {
  @extend %white-bg;
  font-family: "D-DIN Expanded", sans-serif; // play around with this
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
}

.social {
  font-size: 200%;
  word-spacing: 0.35em;
}

.social a {
  color: black;
}

.social a:link, .social a:visited {
  opacity: 0.6;
}

.social a:active, .social a:hover {
  opacity: 1;
}

.download-resume {
  font-size: 125%;
  background-color: $chrome-color;
}

footer {
/*  position: absolute;
  bottom: 0; */
  width: 100%;
  margin-top: 60px;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: $chrome-color;
  color: white;
}

section {
  padding: 50px;
}

$top-padding: 135px;

#top {
  @extend %white-bg;
  padding-top: 60px + $top-padding;
  padding-bottom: $top-padding;
}

#about {
  @extend %white-bg;
}

.profile-photo {
  // TODO figure out RubyGems Bootstrap so we can import:
  // .img-thumbnail .rounded-circle .mx-auto .d-block
  width: 400px;
  margin: 30px;
}

.email {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 300;
}
