<div id="site-sidebar">

  <header>
    <h1 id="site-title">Aidan Fitzgerald</h1>

    <nav>
      <ul id="site-links">
        <li>
          <a href="/">About Me</a>
        </li>
        <li>My Work</li>
        <li>Interests</li>
        <li>
          <a href="/Resume-short.pdf">Résumé</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>

      <!-- TODO Social links here
      <ul id="social-links"></ul>
      -->
    </nav>
  </header>

  <footer>
    &copy; 2019 Aidan Fitzgerald &bull; <a href="/notices" title="Copyright, Privacy, and Accessibility Notices">Notices</a>
  </footer>
</div>
