$main-bg-color: rgb(249, 231, 129);
$sidebar-bg-color: rgb(183, 139, 73);
$sidebar-width: 480px;

body {
  background-color: $main-bg-color;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.45;
}

#site-sidebar {
  height: 100%;
  width: $sidebar-width; // TODO make this responsive
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $sidebar-bg-color;
  overflow-x: hidden; // Disable horizontal scroll
  padding: 40px;

  a {
    color: rgb(255, 244, 186);
    text-decoration: none;
  }

  a:active, a:hover, a:focus {
    color: white;
  }
}

nav {
  padding-top: 40px;
  padding-bottom: 40px;
}

#site-links {
  list-style: none;
  font-size: 110%;
  line-height: 1.65;

  //margin-block-start: 0px;
  padding-inline-start: 0px;

  // For accessibility on Safari; see:
  // https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#Accessibility_concerns
  li a::before {
    content: "\200B";
  }
}

footer {
  position: absolute;
  bottom: 40px;
}

#site-title {
  font-family: "Pacifico";
}

main {
  margin-left: $sidebar-width;
  margin-right: $sidebar-width;
  padding: 40px;
}
